p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px
}
.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 10;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}



.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.two-columns {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  height: 100%;
  color:  #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-size: 24px;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 0 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  align-items: center;
}
.table__row {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  line-height: 1.2;
  font-size: 18px;
}
.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_position_bottom {
  margin-top: 20px;
}

.feynman {
  padding-top: 100px;
  background-color: #f2f2f2;
  width: 100%;
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}
.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}
.feynman_link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}

.kaufman {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  z-index: -10;
  overflow: hidden;
}
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  color: white;
}
.table__row_theme_dark {
  margin-top: 80px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
}

.footer {
  background-color: #1f1f1f;
  height: 350px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.logo_place_footer {
  content: url(../images/logo_place_footer.svg);
}
.footer__columns {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}
.footer__column_content_copyright {
  justify-content: space-between;
}
.footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}
.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column_content_info {
  max-width: fit-content;
}
.footer__column_content_social {
  max-width: fit-content;
}
